.container {
    background-color: #FEFEFE;
}

.main {
    width: 100%;
}




.logosWrapper {
    width: 90%;
    margin: 0 auto;
}

.logos {
    width: 760px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}